@import '../scss/variables';

$input-box-height: 40px;

.lobby-container {
  padding-top: 5px;
  text-align: center;
}

.lobby-title {
  font-size: 2*$font-size-large;
  font-family: $font-family-cursive;
  color: $blue6;
  text-shadow: 3px 3px 2px $blue3;
  padding: 10px 0;
}

.lobby-annotation {
  font-size: $font-size-big;
  font-weight: 300;
  color: $blue3;
  text-shadow: 2px 2px 1px $blue6;
}

.input-box {
  height: $input-box-height;
  margin: auto;
  border-radius: 5px;
  width: 500px;
  input[type=text] {
    height: $input-box-height;
  }
}

.lobby-room {
  font-size: $font-size-big;
  max-width: 80vw;
  overflow: auto;
  word-wrap: break-word;
  margin: 10px;
  display: inline-block;
  box-shadow: 4px 4px $blue3;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: $blue6;
  text-decoration: none;
  color: $blue3;
}
