extends ../../views/layout
include ../../views/mixin

block head
  +title
  +css('/css/lobby.css')

block content
  div(id='react-root')

block scripts
  p #{user.id}
  +react
  +socketio
  +script('/js/lobby.js')
  script.
    ga('send', 'pageview')
