.alert {
  display: inline-block;
  margin: 1rem;
  border-width: $border-width-base;
  border-radius: $border-radius-base;
  border-style: solid;
  border-color: $red1;
  padding: 10px  25px;
  background-color: $red2;
  font-size: $font-size-large;
}
