.btn {
  display: inline-block;
  border-style: solid;
  border-width: 3.5px;
  border-color: $blue1;
  border-radius: 10px;
  padding: 5px  25px;
  background-color: $blue1;
  cursor: pointer;
  color: $white1;
  text-decoration: none;
  font-family: $font-family-base;
  font-size: $font-size-large;
  transition: all .3s;

  &:hover {
    background-color: $white1;
    color: $blue1;
  }
}
