.btn {
  display: inline-block;
  border-style: solid;
  border-width: medium;
  border-color: white;
  border-radius: 25px;
  padding: 0 10px;
  font-size: 3em;
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-family: 'Galada', cursive;

  &:hover {
    color: #33A5E6;
    background-color: white;
  }
}

.btn-circle {
  border-radius: 50%;
}
