.btn {
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 10px;
  padding: 5px  25px;
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-family: $font-family-base;
  font-size: 2em;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    color: #6C8BC8;
    border-color: #6C8BC8;
  }
}

.btn-circle {
  border-radius: 50%;
}
