.form-text {
  display: inline-block;
  margin: 6px 15px;
  border-style: solid;
  border-color: $gray;
  border-radius: 5px;
  border-width: 5px;
  padding: 10px;
  min-width: 500px;
}

.form-submit {
  margin: 6px;
  border-style: solid;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  
}
