.form-text {
  display: inline-block;
  margin: 0.5rem 1rem;
  border-style: solid;
  border-color: $gray1;
  border-radius: $border-radius-base;
  border-width: $border-width-base;
  padding: 10px;
  min-width: 500px;
}
