.side-nav-container {
  position: absolute;
  height: calc(100vh - #{$nav-height});
  width: $side-nav-width;
  background-color: $blue6;
  overflow-x: hidden;
  overflow-y: auto;
  color: $blue3;
  border-right: $side-nav-border-width solid $blue5;
}

.side-nav-content {
  padding: 10px 12px;
}

.side-nav-neighbor {
  height: calc(100% - #{$nav-height});
  margin-left: $side-nav-width;
}

.side-nav-element {
  padding: 10px 0;
}

.side-nav-title {
  font-size: $font-size-big;
  text-align: center;
}
