$blue1: rgb(66, 134, 244);
$blue2: rgb(15, 64, 142); 
$red1: red;
$white: rgb(255, 255, 255);

// Nav
$nav-height: 40px;
$nav-element-height: 40px;
$nav-gap: 15px;

// Font
$font-size-base: 16px;
$font-size-normal: 1rem;
$font-size-big: 1.5rem;
$font-size-large: 2rem;

// Font family
$font-family-base: "Noto Sans TC", "Roboto", sans-serif;
$font-family-cursive: "Courgette", cursive;

