extends ../views/layout
include ../views/mixin

block head
  +title('Login')

block scripts
  +script('/js/login.js')
  script.
    ga('send', 'pageview')
    
block content
  div(id='fb-root')
  div(class='wrapper')
    div(class='center')
      h2 請登入你的Facebook帳號
      div(onlogin="window.checkLoginState();" style="display:none" class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false")
