.user-avatar {
  background-color: #3C64BF;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.pal-avatar {
  background-size: cover;
  background-position: center;
  vertical-align: top;
  display: inline-block;
  width: 250px;
  height: 250px;
  margin: 20px;
  font-size: 5em;
}

.pal-info {
  vertical-align: top;
  display: inline-block;
  margin: 0 3rem;
  width: 500px;
  height: 300px;
}

.pal-name {
  padding-top: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.pal-intro {
  padding: 0.5rem 0;
  max-height: 240px;
  overflow: scroll;
}

.not-found {
  padding: 132px 0;
  font-size: 32px;
  color: #AFB8C1;
}

.loading {
  font-size: 2rem;
  color: #AFB8C1;
}

.bg-yellow {
  background-color: #FFFCE3;
  border-radius: 5px;
}
