.intro {
  margin: 0;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.sep {
  display: inline-block;
  border-top: 3px solid #2B426D;
  width: 500px;
}

footer {
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: 300;
  letter-spacing: 1px;
}

.explanation-element {
  min-width: 240px;
  vertical-align: top;
  display: inline-block;
  padding: 0 3rem;
}

.brand {
  margin: 0;
  font-family: "Courgette", cursive;
  font-size: 5rem;
  font-weight: normal;
  color: #FFFFFF;
  text-decoration: none;
}

.place {
  background-image: url("/img/place.png");
  background-size: cover;
  background-position: center;
  margin: 1rem 5rem;
  width: 150px;
  height: 150px;
}

.microphone {
  background-image: url("/img/microphone.png");
  background-size: cover;
  background-position: center;
  margin: 1rem 5rem;
  width: 150px;
  height: 150px;
}

.chat {
  background-image: url("/img/chat.png");
  background-size: cover;
  background-position: center;
  margin: 1rem 5rem;
  width: 150px;
  height: 150px;
}

.browser {
  display: inline-block;
  width: 640px;
  box-shadow: 0 0 1.5rem #404243;
}

.browser-bar {
  border-radius: 5px 5px 0 0;
  padding: 0 0.5rem;
  height: 2rem;
  background-color: #D6DCE0;
}

.browser-content {
  height: 480px;
  background-image: url("/img/demo.gif");
  background-color: #FFFFFF;
}

.circle {
  display: inline-block;
  border-radius: 50%;
  margin-right: 0.4rem;
  height: 0.9rem;
  width: 0.9rem;
}

.red {
  background-color: #FD6E66;
}

.yellow {
  background-color: #F0F20B;
}

.green {
  background-color: #5EE34C;
}

.widgets {
  margin: auto;
  width: 700px;
}

.widget-icon {
  display: inline-block;
  text-align: center;
  width: 100px;
}

.widget {
  vertical-align: top;
  display: inline-block;
  min-height: 100px;
  max-width: 460px;
  line-height: 150%;
}

.widget-hover {
  border: #FFFFFF 3.5px solid;
  border-radius: 10px;
}

.widget-hover:hover {
  border: #2B426D 3.5px solid;
  background-color: #FFFCE3;
}
