body {
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-base;
}

h1 {
  font-size: 2em;
}

p {
  font-family: $font-family-base;
  font-size: 1.5em;
}

.font-l {
  font-size: 5em;
}

.font-xl {
  font-size: 10em;
}
