//Headings
$heading-font-family: "Oswald", sans-serif;

$font-family_base: "Open Sans", sans-serif;

//colors
$white: #FFFFFF;
$blue-gray: #353966;
$black: #2E2E2E;
$gray: #AFB8C1;
$brown: #C39452;
$blue: #3c64bf;
$dark-blue: #4163A4;
