//Headings
$heading-font-family: "Oswald", sans-serif;

$font-family_base: "Open Sans", sans-serif;

//colors
$blue: #6C8BC8;
$dark-blue: #4163A4;

$intro-font-color: white;
$intro-font-color-blue: #6C8BC8;
