//Font family
$font-family-base: "Noto Sans TC", "Open Sans", sans-serif;

//Colors
$blue1: #3C64BF;
$blue2: #2B426D;
$yellow: #FFFCE3;
$white: #FFFFFF;
$gray: #AFB8C1;


//Theme color
$theme-color-1: $blue1;
$theme-color-2: $yellow;
$theme-color-3: $white;
$theme-color-4: $gray;
$theme-color-5: $blue2;
