extends ../views/layout
include ../views/mixin

block head
  +title(room.name)
  +css('/css/room.css')

block content
  div(id="FBID" style="display:none") #{user.FBID}
  div(id="name" style="display:none") #{user.name}
  div(id="room-id" style="display:none") #{room.id}
  div(id="room-name" style="display:none") #{room.name}
  div(id="react-root" style='height:100vh;')

block scripts
  +react
  +socketio
  +adapter
  +script('/js/room.js')
  script.
    ga('send', 'pageview', 'room')
