extends ../../views/layout
include ../../views/mixin

block head
  +title('Login')

block scripts
  +script('/js/login.js')
  //+script('/js/test.js')
  script.
    ga('send', 'pageview')
  script.
    init()
    .then(() => {
      return parseAccessToken(window.location.href)
    })
    .then(token => {
      if(token) {
        const div = window.document.createElement('div');
        div.innerHTML = token
        window.document.getElementsByClassName('center')[0].appendChild(div)
        FB.getLoginStatus(function (response) {
          statusChangeCallback(response)
        })
      }
    })

    function init () {
      return new Promise(resolve => {
        window.fbAsyncInit = function () {
          FB.init({
            'appId': '435861663458019',
            'xfbml': true,
            'version': 'v2.10'
          })
          FB.AppEvents.logPageView()
          resolve()
        }

      ;(function (d, s, id) {
        let js
        const fjs = d.getElementsByTagName(s)[0]
        if (d.getElementById(id)) {
          return
        }
        js = d.createElement(s)
        js.id = id
        js.src = '//connect.facebook.net/zh_TW/sdk.js'
        fjs.parentNode.insertBefore(js, fjs)
      })(document, 'script', 'facebook-jssdk')
      })
    }
    
    function statusChangeCallback (response) {
      switch (response.status) {
        case 'connected':
          sendLoginRequest(response)
          break
        case 'not_authorized':
          fbBtn.setAttribute('style', '')
          break
        case 'unknown':
          fbBtn.setAttribute('style', '')
          break
      }
    }

    function parseAccessToken(url){
      const tokenString = url.match(/access_token=\w*/)
      if(tokenString !== null){
        alert(tokenString)
        return tokenString[0].split('=')[1]
      } else {
        return 0
      }
    }
 
block content
  div(id='fb-root')
  div(class='wrapper')
    div(class='center')
      h2 請登入你的Facebook帳號
      a(id="loginbtn" href='https://www.facebook.com/v2.10/dialog/oauth?client_id=435861663458019&redirect_uri=https://palhub.net/login&response_type=token') login button
      div(onlogin="window.checkLoginState();" style="display:none" class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false")
    
