extends ../../views/layout
include ../../views/mixin

block head
  +title('Login')

block scripts
  //+script('/js/login.js')
  //+script('/js/test.js')
  script.
    ga('send', 'pageview')
  script.
    Promise.resolve(parseAccessToken(window.location.href))
    .then(token => {
      if(token) {
        const div = window.document.createElement('div');
        div.innerHTML = token
        window.document.getElementsByClassName('center')[0].appendChild(div)
        getUserID(token)
        .then(user => {
          return sendLoginRequest({ authResponse: {userID: JSON.parse(user).id, accessToken: token}})
        })
      } else {
        alert('no token')
      }
    })

    function getUserID (token) {
      return new Promise(resolve => {
        const xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            resolve(xhttp.response)
          }
        };
        xhttp.open("GET", "https://graph.facebook.com/me?access_token=" + token, true);
        xhttp.send();
      })
    }

    function sendLoginRequest (response) {
      console.log(response)
      const xhttp = new XMLHttpRequest()
      xhttp.onreadystatechange = function () {
        if (this.readyState === XMLHttpRequest.DONE) {
          switch (this.status) {
            case 200:
              console.log(JSON.parse(xhttps.response))
              //window.location.replace(JSON.parse(xhttp.response).intent || '/')
              break
            case 404:
              console.log('login error')
              break
          }
        }
      }
      xhttp.open('POST', '/login', true)
      xhttp.setRequestHeader('Content-type', 'application/json')
      xhttp.send(JSON.stringify(response))
    }

    function parseAccessToken(url){
      const tokenString = url.match(/access_token=\w*/)
      if(tokenString !== null){
        return tokenString[0].split('=')[1]
      } else {
        return 0
      }
    }
 
block content
  div(id='fb-root')
  div(class='wrapper')
    div(class='center')
      h2 請登入你的Facebook帳號
      a(id="loginbtn" href='https://www.facebook.com/v2.10/dialog/oauth?client_id=435861663458019&auth_type=rerequest&redirect_uri=https://palhub.net/login&response_type=token') login button
      div(onlogin="window.checkLoginState();" style="display:none" class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false")
    
