.display-none {
  display: none;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-decoration-none {
  text-decoration: none;
}

.float-right {
  float: right;
}

.bg-yellow1 {
  background-color: $yellow1;
}

.bg-blue1 {
  background-color: $blue1;
}

.bg-blue2 {
  background-color: $blue2;
}

.bg-gray1 {
  background-color: $gray1;
}

.bg-white1 {
  background-color: $white1;
}

.font-blue {
  color: $blue2;
}

.font-white {
  color: $white1;
}

.shadow-blue {
  text-shadow: 3px 3px $blue2;
}

.shadow-gray {
  text-shadow: 3px 3px $gray1;
}
