//Font family
$font-family-base: "Noto Sans TC", "Open Sans", sans-serif;
$font-family-brand: "Courgette", cursive;

//Colors
$red1: #C94044;
$red2: #EBB3AC;
$red3: #FD6E66;
$blue1: #3C64BF;
$blue2: #2B426D;
$yellow1: #FFFCE3;
$yellow2: #F0F20B;
$green1: #5EE34C;
$white1: #FFFFFF;
$gray1: #AFB8C1;
$gray2: #D6DCE0;
$gray3: #404243;

//Theme colors
$theme-color-1: $blue1;
$theme-color-2: $yellow1;
$theme-color-3: $white1;
$theme-color-4: $gray1;
$theme-color-5: $blue2;

//Font size
$font-size-base: 16px;
$font-size-normal: 1.5rem;
$font-size-large: 2rem;
$font-size-small: 1rem;

//Box style
$border-radius-base: 10px;
$border-width-base: 3.5px;

//Nav
$nav-height: 48px;
