@import '../scss/variables';

$input-box-height: 40px;

.msg-box {
  height: calc(100vh - #{$input-box-height + $nav-height});
  overflow: auto;
}

.input-box {
  height: $input-box-height;
  width: 100%;
  input[type=text] {
    height: $input-box-height;
  }
}
