html
  head
    title 404
    link(rel="shortcut icon" type="image/png" href="/storage/favicon.png")
    link(rel="stylesheet" href="/css/main.css")
  body
    div(class='wrapper')
      div(class='center')
        h2 此頁並不存在！ 
        h2 正在轉跳到大廳！ 
    script.
      setTimeout(function(){ window.location.href = '/' }, 2000)

