mixin css(url)
  link(rel="stylesheet" href=url)

mixin script(url)
  script(src=url)

mixin title(page)
  if page
    title PalHub | #{page}
  else 
    title PalHub

mixin favicon
  link(rel="shortcut icon" type="image/png" href="/storage/favicon.png")

mixin react
  +script('https://unpkg.com/react@15/dist/react.js')
  +script('https://unpkg.com/react-dom@15/dist/react-dom.js')
  +script('https://unpkg.com/prop-types/prop-types.js')

mixin socketio
  +script('https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js')

mixin adapter
  +script('https://webrtc.github.io/adapter/adapter-latest.js')

mixin head
  +favicon
  +css('/css/main.css')
