@import "../helpers/variables";

.user-avatar {
  background-color: $blue1;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.not-found {
  padding: 132px 0;
  font-size: 32px;
  color: $gray1;
}

.loading {
  font-size: 2rem;
  color: $gray1;
}

.bg-yellow {
  background-color: $theme-color-2;
  border-radius: 5px;
}
