@import "../main";
@include full-screen;

.user-avatar {
    background-color: $blue1;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.pal-avatar {
    @include bg-image('/img/na.png');
    vertical-align: top;
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 20px;
    font-size: 5em;
}

.pal-info {
    vertical-align: top;
    display:inline-block;
    width:600px;
    height: 300px;
}

.bg-yellow {
  background-color: $theme-color-2;
  border-radius: 5px;
}
