@import "../main";
@include full-screen;

@include bg-image("/img/header-bg.jpg");

header {
  height: 100%;
}

.intro-separator {
  margin: 15px auto;
  max-width: 100px;
  border-top: 3px solid white;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  height: 0;
}

.intro-annotation {
  font-size: 2em;
  color: $intro-font-color;
}

.intro-title {
  font-size: 5em;
  margin: 0;
  color: $intro-font-color;
}
