@import "../main";

.intro {
  margin: 0;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
}

footer {
  font-size: $font-size-small;
  color: $theme-color-3;
}

.explanation-element {
  vertical-align: top;
  display: inline-block;
  padding: 0.5rem;
}

.place {
  @include bg-image("/img/place.png");

  margin: 1rem 5rem;
  width: 150px;
  height: 150px;
}

.microphone {
  @include bg-image("/img/microphone.png");

  margin: 1rem 5rem;
  width: 150px;
  height: 150px;
}

.chat {
  @include bg-image("/img/chat.png");

  margin: 1rem 5rem;
  width: 150px;
  height: 150px;
}

.browser {
  display: inline-block;
  width: 40rem;
  box-shadow: 0 0 1.5rem $gray3;
}

.browser-bar {
  border-radius: 5px 5px 0 0;
  padding: 0 0.5rem;
  height: 2rem;
  background-color: $gray2;
}

.browser-content {
  height: 30rem;
  background-image: url('/img/demo.gif');
  background-color: $white1;
}

.circle {
  display: inline-block;
  border-radius: 50%;
  margin-right: 0.4rem;
  height: 0.9rem;
  width: 0.9rem;
}

.red {
  background-color: $red3;
}

.yellow {
  background-color: $yellow2;
}

.green {
  background-color: $green1;
}
