extends ./layouts/master.pug
block styles
  link(rel='stylesheet' href='chat.css')

block content
  div
    button#button-pair Chat with someone
    button#button-leave Leave
  div
    video#video-self(autoplay)
  div
    video#video-pal(autoplay)
  script(src='js/adapter.js')
  script(src='js/chat.js')
