extends ./layouts/master.pug

block content
  include ./includes/_user.pug
  div#room.section.text-align-center
    div#room-msg.cont.font-blue
      h1 歡迎來到 PalHub 聊天室。目前有 
        span#num
        |  人在線上
    div#pal.cont.bg-yellow.font-blue
      div.not-found 按下配對開始聊天 
  div.section.text-align-center
    div#control.h-center
    audio#audio-pal(autoplay)
    audio#audio-self(autoplay muted="muted")
    script(src='js/adapter.js')
    script(src='js/chat/chat.js')
