extends ./layouts/master.pug

block styles
  link(rel='stylesheet' href='css/home.css')

block content
  div.cont.wide.cont-white.gray-line
    header.section
      div.cont.h-center
        span.intro-title 太多的話想要找一個人聊聊嗎？
        span.intro-title 有太多想抱怨的不知向誰傾吐嗎？
        span.intro-title 有故事想要找人分享嗎？
      div.cont
        span.boy-icon
        div.bubble-left
          span.intro-title 歡迎使用PalHub
      div.cont.h-right
        div.bubble-right 
          span.intro-title 一款以語音為主的交友app
        span.girl-icon
    section.section
      div.cont.h-center
        h1.intro-title 要怎麼玩 PalHub？ 
      div.cont
        span.boy-icon2
        div.bubble-how
          div.cont
            span.intro-title 1.
            span.intro-title 找一個合適的環境
          div.cont 
            span.intro-title 2.
            span.intro-title 接上你的麥克風
          div.cont 
            span.intro-title 3.
            span.intro-title 按下配對便可以開始聊天
      div.cont.h-center
        a.btn-go(href = 'chat') 開始玩
  footer.cont-blue
    div.cont.h-right
      span.intro-annotation Developed By SourFeetHsu
