extends ./layouts/master.pug

block styles
  link(rel='stylesheet' href='css/home.css')

block content
  section.shadow-blue.section.bg-blue1.text-align-center
    div.cont.font-white
      h1.brand PalHub
      h2.intro.shadow-blue 一款以語音為主的多功能APP
      div 用最原始的聲音取代文字與表情符號
    div.cont
      div.browser
        div.browser-bar.text-align-left
          div.circle.red
          div.circle.yellow
          div.circle.green
        div.browser-content
  section.section.font-blue.text-align-center
    div.cont
      h1.intro.shadow-gray PalHub 怎麼用？
    div.cont
      div.explanation-element
        div.cont
          i.fa.fa-map-marker.fa-5x
        span 1.找可以講話的地點
      div.explanation-element
        div.cont
          i.fa.fa-microphone.fa-5x
        span 2.接上麥克風
      div.explanation-element
        div.cont
          i.fa.fa-th-list.fa-5x
        span 3.選擇widget
  section.section.bg-yellow1.font-blue.text-align-center
    div.cont
      h1.shadow-gray Widgets
    div.cont
      a.btn(href='/chat')
        i.fa.fa-microphone
        span  聊天室
      div.widgets
        div.cont
          div.text-align-left.widget 聊天室提供一對一的語音聊天服務，讓你在無聊的時候能夠找到一個同樣想聊天的人。
    div.cont
      a.btn(href='/study')
        i.fa.fa-book
        span  研究室
      div.widgets
        div.cont
          div.text-align-left.widget 一個人做事情總是無法專心？研究室幫你找到正在跟你做同一件事情或讀同一個科目的人，並提供一個互相討論的空間。
  section.section.font-white.bg-blue2.text-align-center
    div.cont(style='line-height:150%;') 歡迎各位使用PalHub，目前PalHub正處於開發階段。我們歡迎任何對產品有興趣的夥伴一起參與！若你對功能上有什麼建議歡迎到PalHub粉專留言。
    a.nav-brand(href='https://www.facebook.com/palhub.net')
      i.fa.fa-facebook-square
  include layouts/_foot.pug
