extends ./layouts/master.pug

block styles
  link(rel='stylesheet' href='css/login.css')

block content
  header.cont-center
    h1 You need to input your name first.
    form(method='post')
      input#name.form-text(type='text' name='name')
      input#submit.display-none(type='submit' value='SUBMIT') 
