extends ./../layouts/master.pug

block content
  section.wrapper
    div.center
      h1 告訴大家你們這桌在讀什麼吧！
      form(method='post')
        div.cont
          span 科目
          input#subject.form-text(type='text' name='subject')
        input#new.btn(type='submit' value='確認')
