extends ./../layouts/master.pug

block content
  include ./../includes/_user.pug
  div.display-none
    span#tableid #{tableInfo.id}
    span#subject #{tableInfo.subject}
  div#pals.side-nav.text-align-left.bg-blue1
  div.side-nav-neighbor
    i.fa.fa-users.icon.side-nav-control
    i.fa.fa-microphone.icon
    i.fa.fa-info-circle.icon
    div#table.section.text-align-center
      div.text-align-left
      div#table-msg.cont.font-blue
        h1.font-blue 大家正在讀#{tableInfo.subject}。討論時請保持禮貌。
      div.cont.bg-yellow1
  div#pal-audios
  audio#audio-user(autoplay muted="muted")
  script(src='/js/adapter.js')
  script(src='/js/'+app.page+'/table.js')
