extends ./../layouts/master.pug

block content
  div.display-none
    span#tableid #{tableId}
  div.section.text-align-center
    div#table-msg.cont.font-blue
      h1.font-blue 歡迎加入桌號#{tableId}。
    div#pals.cont.bg-yellow1
  div#pal-audios
  audio#audio-user(autoplay muted="muted")
  script(src='/js/adapter.js')
  script(src='/js/'+app.page+'/table.js')
