extends ../../views/layout
include ../../views/mixin

block head
  +title(room.name)
  +css('/css/room.css')

block content
  div(id="react-root" style='height:100vh;')

block scripts
  +react
  +socketio
  +adapter
  +script('/js/room.js')
  script.
    ga('send', 'pageview', 'room')
