div.nav
  a.nav-brand(href='/') PalHub
  a.nav-brand(href='https://www.facebook.com/palhub.net')
    i.fa.fa-facebook-square
  a(href='/profile').nav-element.float-right
    i.fa.fa-user
    span  個人簡介
  a.nav-element.float-right(href='/chat')
    i.fa.fa-microphone
    span  聊天室
  a(href='/study').nav-element.float-right
    i.fa.fa-book
    span  研究室
